@model IEnumerable<ModelsDTO.LeaderboardModel>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Leaderboards</h1>

<p>
    <a asp-action="CreateLeaderBoardView">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.LeaderBoardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaderBoardDescription)
            </th>
            
           
          <th></th>  
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
         
            <td>
                @Html.DisplayFor(modelItem => item.LeaderBoardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaderBoardDescription)
            </td>
            
         
            <td>
                @Html.ActionLink("View", "LeaderBoardView", new { LeaderBoardID = item.LeaderboardID }) |
                @Html.ActionLink("Edit", "EditLeaderBoardView", new { LeaderBoardID = item.LeaderboardID }) |
                @Html.ActionLink("Delete", "DeleteLeaderBoardView", new { LeaderBoardID = item.LeaderboardID })
            </td>
        </tr>
}
    </tbody>
</table>
