@model IEnumerable<ModelsDTO.LeaderboardModel>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<p>
    <a asp-action="CreateLeaderBoardView">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaderboardID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaderBoardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaderBoardDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.leaderboardType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeaderboardID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaderBoardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaderBoardDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leaderboardType)
            </td>
            <td>
                @Html.ActionLink("View", "LeaderBoardView", new { LeaderBoardID = item.LeaderboardID }) |
                @Html.ActionLink("Edit", "EditLeaderBoardView", new { LeaderBoardID = item.LeaderboardID }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
